<table style="width:100%">
    <tr>
        <th>Acad. Year</th>
        <th>Semester</th>
        <th>Round</th>
        <th>Nusnet ID</th>
        <th>Module Code</th>
        <th>Appeal Type</th>
        <th>Status</th>
        <th></th>

    </tr>
    {{# each appeals}}
    <tr>
        <form method="POST" action="/appeals/viewAppealDetails/{{this.modulecode}}/{{this.nusnetid}}/{{this.ay}}/{{this.sem}}/{{this.round}}">
            <td>{{this.ay}}</td>
            <td>{{this.sem}}</td>
            <td>{{this.round}}</td>
            <td>{{this.nusnetid}}</td>
            <td>{{this.modulecode}}</td>
            <td>{{this.type}}</td>
            <td>{{this.status}}</td>
            <td><input type="submit" class="btn btn-block btn-primary text-white py-1 px-1 mb-2" value="View" /></td>
        </form>
    </tr>
    {{/ each}}
</table>