<div class="form-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="POST" action="/modules/searchModulesAdmin" class="bd-search d-flex align-items-center">
            <div class="col-md-9 mb-4 mb-lg-0">
                <input type="text" class="form-control" name="searchedValue" placeholder="Search module code, name">
            </div>
            <div class="col-md-3">
                <input type="submit" style="background-color: #563d7c; border-color: #563d7c"
                    class="btn btn-block btn-primary text-white py-1 px-2" value="Search" />
            </div>
        </form>
    </div>
</div>

{{#if searchedValue}}
<div class="form-group row">
    <p>Search Result for "{{searchedValue}}"
        <a href="/modules/adminViewAllModules"><span class="fa fa-times-circle"></span></a>
    </p>
</div>
{{/if}}
<table style="width:100%">
    <tr>
        <th>Faculty</th>
        <th>Deparment</th>
        <th>Module Code</th>
        <th>Module Name</th>
        <th>Semester Offered</th>
        <th></th>
    </tr>
    {{#each modules}}
    <tr>

        <td>{{this.faculty}}</td>
        <td>{{this.department}}</td>
        <td>{{this.modulecode}}</td>
        <td>{{this.modulename}}</td>
        {{#if this.sem}}
        <td>{{this.sem}}</td>
        {{else}}
        <td>1 & 2</td>
        {{/if}}
        <td>
            <form method="POST" action="/modules/viewModuleDetail/{{this.modulecode}}/{{this.modulename}}">
                <button type="submit">
                    <span class="fa fa-search py-1 px-1 mb-3"></span>
                </button>
                {{!-- <input type="submit" class="btn btn-block btn-primary text-white py-1 px-1 mb-2" value="View" /> --}}
            </form>
        </td>
        <td>
            <form method="GET" action="/modules/editModule/{{this.modulecode}}">
                <button type="submit">
                    <span class="fa fa-edit py-1 px-1 mb-3"></span>
                </button>
            </form>
        </td>
        <td>
            <form method="GET" onsubmit="return confirm('Are you sure to delete {{this.modulecode}} {{this.modulename}}?')" action="/modules/deleteModule/{{this.modulecode}}">
                <button type="submit">
                    <span class="fa fa-trash-o py-1 px-1 mb-3"></span>
                </button>
            </form>
        </td>

    </tr>

    {{/each}}
</table>