<div class="ftco-blocks-cover-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7" style="padding-left:0px !important">
                <div class="col-lg-12" style="padding-left:0px !important">
                    <div class="feature-car-rent-box-1" style=" height:600px;  box-shadow: 8px 0px 8px -8px grey;">
                        <h3 style="text-align:center">My Modules</h3>
                        <div class=row>
                            <form method="POST" action="/modules/selectEnrolledModulesAY">
                                <select name="ay">
                                    {{#each semesters}}
                                    <option value="{{this.ay}}{{this.sem}}">AY{{this.ay}} - Sem{{this.sem}}</option>
                                    {{/each}}
                                </select>
                                <input class="btn btn-primary" type="submit" value="Select" />
                            </form>
                            </select>
                            {{!-- <div class="col-lg-3">
                                <a href="#" style="text-decoration:none; left: 0px; position:absolute"
                                    class="btn btn-primary custom-prev">Previous</a>
                            </div>
                            <div class="col-lg-6">
                                <p style="text-align:center">AY2016/2017 Semester 1</p>
                            </div>
                            <div class="col-lg-3">
                                <a href="#" style="text-decoration:none; right: 0px; position:absolute"
                                    class="btn btn-primary custom-next">Next</a>
                            </div> --}}
                        </div>
                        </br>
                        <div class=row>
                            {{#each enrolledModules}}
                            {{this.modulecode}} - {{this.grade}}
                            {{/each}}
                            Testing
                            <div class="nonloop-block-13 owl-carousel">
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">4</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">5</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">Automatic</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">18 years</span>
                                    </li>
                                </ul>
                                <div class="item-1">
                                    <div class="item-1-contents">

                                    </div>
                                </div>
                                <div class="item-1">
                                    <div class="item-1-contents">
                                        <div class="text-center">
                                            <h3><a href="#">Range Rover S64 Coupe</a></h3>
                                            <div class="rent-price"><span>$250/</span>day</div>
                                        </div>
                                        <ul class="specs">
                                            <li>
                                                <span>Doors</span>
                                                <span class="spec">4</span>
                                            </li>
                                            <li>
                                                <span>Seats</span>
                                                <span class="spec">5</span>
                                            </li>
                                            <li>
                                                <span>Transmission</span>
                                                <span class="spec">Automatic</span>
                                            </li>
                                            <li>
                                                <span>Minium age</span>
                                                <span class="spec">18 years</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>