<table style="width:100%">
  <tr>
    <th>Acad. Year</th>
    <th>Semester</th>
    <th>Round</th>
    <th>Module Code</th>
    <th>Appeal Type</th>
    <th>Status</th>

  </tr>
  {{# each appeals}}
  <tr>
    <td>{{ay}}</td>
    <td>{{sem}}</td>
    <td>{{round}}</td>
    <td>{{modulecode}}</td>
    <td>{{type}}</td>
    <td>{{status}}</td>
  </tr>
  {{/ each}}
</table>