<div class="limiter">
	<h1>
		View module details
	</h1>
	<div class="container-table100" style="margin-bottom:100px">

		<div class="row">
			<form method="POST" action="/modules/viewModuleDetail/{{modulecode}}/{{modulename}}/1">
				<select class="form-control" name="ay">
					{{#each ayyear}}
					<option value="{{this.ay}}{{this.sem}}">AY{{this.ay}} - Sem{{this.sem}}</option>
					{{/each}}
				</select>
				<input class="btn btn-primary" type="submit" value="View" />
			</form>
			</select>
		</div>
		<div class="row">
			<div class="container">
				<div class="trip-form" style="margin-top:-120px !important">
					<div class="row">
						<div class="col-4" style="text-align: center;">
							<h5><b>Module Code</b></h5>{{modulecode}} <br />
						</div>
						<div class="col-4" style="text-align: center">
							<h5><b>Module Name</b></h5>{{modulename}} <br />
						</div>
						<div class="col-4" style="text-align: center">
							<h5><b>No. of Students</b></h5>{{quota}} <br />
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-4" style="text-align: center;">
							<h5><b>Academic Year</b></h5>AY{{ay}} <br />
						</div>
						<div class="col-4" style="text-align: center">
							<h5><b>Semester</b></h5>{{sem}} <br />
						</div>
						<div class="col-4" style="text-align: center">
							{{#if isCurrentSem}}
							<form method="GET" action="/modules/addStudentToModule/{{modulecode}}/{{ay}}/{{sem}}">
								<input type="submit" class="btn btn-block btn-primary text-white py-1 px-1 mb-2"
									value="Add Students" />
							</form>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-5">
			<div class="row mt-5 mb-5">
				<div class="table">
					<div class="row header">
						<div class="cell">
							Pre-req Module
						</div>
						<div class="cell">
						</div>
					</div>

					{{#each prereq}}
					<div class="row" style=" background: #fff;">
						<div class="cell" data-title="Full Name">
							{{this.prereqmodulecode}}
						</div>
					</div>
					{{/each}}

				</div>
			</div>
		</div>



		<div class="row">
			<div class="container">

				<div class="table">

					<div class="row header">
						<div class="cell">
							Full Name
						</div>
						<div class="cell">
							Student ID
						</div>
						<div class="cell">
							Course
						</div>
						<div class="cell">
							Year
						</div>
						<div class="cell">
							Remove
						</div>
					</div>
					{{#each students}}
					<form method="POST" onsubmit="return confirm('Are You Sure?')"
						action="/modules/removeEnrolledStudent/{{modulecode}}/{{this.nusnetid}}/{{ay}}/{{sem}}">
						<div class="row" style=" background: #fff;">
							<div class="cell" data-title="Full Name">
								{{this.fname}} {{this.lname}}
							</div>
							<div class="cell" data-title="Age">
								{{this.nusnetid}}
							</div>
							<div class="cell" data-title="Job Title">
								{{this.course}}
							</div>
							<div class="cell" data-title="Location">
								{{this.year}}
							</div>
							<div class="cell" data-title="Remove">
								<button type="submit">
									<span class="fa fa-times-circle"></span>
								</button>
							</div>
						</div>
					</form>
					{{/each}}


				</div>
			</div>
		</div>

	</div>
</div>